.work {
  padding: 145px 0 65px;
  position: relative;
  @media (max-width: $mobile) {
    padding: 60px 0 30px;
  }
  // .work__decor
  &__decor {
    position: absolute;
    width: 100%;
    top: 120px;
    display: flex;
    justify-content: center;
    @media (max-width: $tablet) {
      top: 50%;
      transform: translateY(-50%);
    }
    img {
      width: 100%;
      max-width: none;
      @media (max-width: em(1920)) {
        width: 1920px;
      }
    }
  }
  // .work__container
  &__container {
    position: relative;
    z-index: 2;
  }
  // .work__row
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      gap: 60px;
    }
  }
  // .work__column
  &__column {
    &:nth-child(2) {
      padding-top: 25px;
      @media (max-width: $mobile) {
        padding-top: 0;
      }
    }
  }
  // .work__title
  &__title {
    @include adaptiveValue('font-size', 50, 40);
    @media (max-width: $mobile) {
      text-align: center;
      font-size: 40px;
    }
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }
  // .work__items
  &__items {
    display: grid;
    gap: 24px;
  }
  // .work__item
  &__item {
  }
  // .work__digit
  &__digit {
    position: absolute;
    width: 645px;
    &_01 {
      left: -100px;
      top: calc(100% - 250px);
      @media (max-width: em(1500)) {
        left: auto;
        right: calc(100% - 200px);
      }
      @media (max-width: $mobile) {
        right: calc(100% - 70px);
        top: calc(100% - 100px);
      }
    }
    // .work-digit_02
    &_02 {
      top: -30px;
      right: 100px;
      @media (max-width: em(1500)) {
        right: auto;
        left: calc(100% - 300px);
      }
      @media (max-width: $mobile) {
        top: 20%;
        left: calc(100% - 187px);
      }
    }
  }
}

.item-work {
  background: rgba(17, 19, 23, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  padding-top: 24px;

  // .item-work_green
  &_green {
    background: rgba(11, 85, 110, 0.7);
  }
  // .item-work__date
  &__date {
    background: #0091bf;
    border-radius: 0px 8px 8px 0px;
    min-width: rem(182);
    font-weight: 700;
    font-size: 16px;
    line-height: math.div(24, 16);
    padding: 10px 5px 10px 24px;
    display: inline-block;
  }
  // .item-work__content
  &__content {
    padding: 16px 24px 24px 24px;
    & > * {
      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }
  // .item-work__title
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: math.div(24, 20);
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    display: block;
    &:hover {
      color: #0091bf;
    }
  }
  // .item-work__descr
  &__descr {
    font-size: 16px;
    line-height: math.div(24, 16);
  }
  // .item-work__link
  &__link {
    font-size: 16px;
    line-height: math.div(24, 16);
    text-decoration-line: underline;
    color: #0091bf;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    word-break: break-word;
    &:hover {
      color: #fff;
    }
  }
}
