body::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}
.popup-show body::after {
  opacity: 1;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  width: 100%;
  background: #111317;
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 80px;
  border-radius: 16px;
  max-width: rem(560);
  position: relative;
  @media (max-width: em(600)) {
    padding: 40px 20px 30px 20px;
  }
  .lock & {
    visibility: visible;
  }
}
.popup {
  // .popup__wrapper
  &__wrapper {
  }
  // .popup__content
  &__content {
  }
  // .popup__close
  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  // .popup__title
  &__title {
    font-weight: 300;
    @include adaptiveValue('font-size', 50, 40);
    line-height: math.div(66, 50);
    font-family: 'RobotoSlab';
    &:not(:last-child) {
      margin-bottom: rem(32);
      @media (max-width: em(600)) {
        margin-bottom: 24px;
      }
    }
  }
  // .popup__text
  &__text {
    font-size: 16px;
    line-height: math.div(24, 16);
    &:not(:last-child) {
      margin-bottom: rem(32);
      @media (max-width: em(600)) {
        margin-bottom: 24px;
      }
    }
  }
  // .popup__button
  &__button {
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}
